.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px;
}
.header .site-title a{
    text-decoration: none;
}
.header .site-title h1{
    color: rgb(117, 130, 131);
    letter-spacing: 1px;
}
.header .site-title h1 span{
    color: rgb(224, 59, 139);
}
.header nav a{
    text-decoration: none;
    font-size: 1.2rem;
    margin-right: 25px;
    color: rgb(224, 59, 139);
    font-weight: 500;
}
.header nav a:hover{
    border-bottom: 1px solid rgb(224, 59, 139);
    padding-bottom: 15px;
}