.or{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.or-element{
    background-color: rgb(117, 130, 131);
    width: 150px;
    height: 2px;
    margin: 10px;
}

.signup-google-btn{
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(117, 130, 131);
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-google-btn img{
    margin-right: 10px;
    width: 30px;
}
.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.signup h1{
    color: rgb(224, 59, 139);
}
.signup form input{
    display: block;
    width: 300px;
    height: 35px;
    margin: 10px;
    font-size: 1.1rem;
}
.submit-btn{
    width: 300px;
    border: none;
    color: white;
    background-color: rgb(224, 59, 139);
    font-size: 1.1rem;
    cursor: pointer;
}