.single-product-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.product-manage{
    width: 55%;
    border: 1px solid rgb(224, 59, 139);
    border-radius: 5px;
    color: rgb(117, 130, 131);
}




@media only screen and (max-width: 845px) {
    .product-manage{
        width: 65%;
    }
}



@media only screen and (max-width: 600px) {
    .product-manage{
        width: 75%;
    }
}
.product-manage img{
    width: 95%;
    margin: 40px 45px 40px 5px;
}
.product-manage span{
    font-weight: 800;
}
.product-manage h2{
    margin: 30px;
}
.product-manage p{
    margin: 30px;
}
.restock-product{
    border: 1px solid rgb(224, 59, 139);
    margin-top: 45px;
    padding: 30px;
    border-radius: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.restock-product h2{
    color: rgb(117, 130, 131);
}
.restock-product input[type=number] {
    padding: 12px;
    border-radius: 5px;
    margin: 12px 3px 12px 45px;
}